<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    {% block titulo %}
        <title>Home do Administrador - Cine Família</title>
    {% endblock titulo %}

</head>
<header>

    {% block login%}
        <li><form id="my_form" action="{% url 'deslogar' %}" method="post">
                {% csrf_token %}
                <a class="menu" href="javascript:$('#my_form').submit();">Sair</a>
            </form>
        </li>
    {% endblock login%}
    
</header>
<body>

    {% block conteudo %}
        {% buttons %}
            <a type="button" class="btn btn-primary btn-block" href="filmes">Adicionar Filme</a>
            <a type="button" class="btn btn-primary btn-block" href="sessoes">Criar Sessão</a>
            <a type="button" class="btn btn-primary btn-block" href="assentos">Adicionar Assento</a>   
        {% endbuttons %}
    {% endblock conteudo %}

</body>
</html>