<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    <title>Home do Administrador - Cine Família</title>

</head>
<body>

    {% block conteudo %}
        {% bootstrap_messages %}
        {% buttons %}
            <a type="button" class="btn btn-primary btn-lg btn-block" href="filmes">Adicionar Filme</a>
            <a type="button" class="btn btn-primary btn-lg btn-block" href="sessões">Criar Sessão</a>
            <a type="button" class="btn btn-primary btn-lg btn-block" href="assentos">Adicionar Assento</a>   
        {% endbuttons %}
    {% endblock conteudo %}

</body>
</html>