<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    {% block titulo %}
        <title>Adicionar Assento - Cine Família</title>
    {% endblock titulo %}

</head>
<header>
    {% block login%}
        <li><a class="menu" href="deslogar">Sair</a></li>
    {% endblock login%}
</header>
<body>

    {% block conteudo %}
        <div class="container">
            <h1>Adicionar Assento</h1><br><br>
            <br>
            {% bootstrap_messages %}
            <form method="post" action="{% url 'assentos' %}" class="form" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% for assentos in assento %}
                    {% if assentos.livre %}
                        <input type="checkbox" name="{{assentos.livre}}" id="{{assentos.livre}}" value="0"/>
                    {% endif %}
                {% endfor %}
                {% buttons %}
                    <br>
                    <button type="submit" class="btn btn-primary">
                        Adicionar Assento
                    </button>
                {% endbuttons %}
            </form>
        </div>
    {% endblock conteudo %}

</body>
</html>