<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    <title>Cadastro - Cine Família</title>

</head>
<body>

    {% block conteudo %}
        <div class="container">
            <br>
            <h2> Cadastro de Usuário </h2>
            <br>
            {% bootstrap_messages %}
            <form method="post" class="form" action="{% url 'cadastro' %}" autocomplete="off">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Efetuar cadastro 
                    </button>
                {% endbuttons %}
            </form>
        </div>
    {% endblock conteudo %}

</body>
</html>