<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    {% block titulo %}
        <title>Adicionar Filme - Cine Família</title>
    {% endblock titulo %}

</head>
<body>

    {% block conteudo %}
        <div class="container">
            {% bootstrap_messages %}
            <h1>Adicionar Filme</h1><br><br>
            <form method="post" action="{% url 'filmes' %}" class="form" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Adicionar Filme
                    </button>
                {% endbuttons %}
            </form>
        </div>
    {% endblock conteudo %}

</body>
</html>