<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    <title>Home do Usuário - Cine Família</title>

</head>
<body>

    {% block conteudo %}
        <div class="row">
            {% for filme in filmes %}
            <div class="col-sm-2">
                <div class="card">
                    <img class="card-img-top" src="{{filme.capa.url}}">
                    <div class="card-body">
                        <h5 class="card-title">{{filme.nome}}</h5>
                        <p class="card-text">
                            ({{filme.duracao}}) Classificação: {{filme.classificacao}}<br>
                            Sinopse: {{filme.sinopse}}</p>
                        <a href="assento" class="btn btn-primary">Assistir</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <button id="play"><span class="op-play"></span></button>

        <div class="modal">
            <div class="modal_container">
                <span id="close" class="op-x"></span>
                <div class="iframe_container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/DbQFF57ho3g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    {% endblock conteudo %}

</body>
</html>