<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    <title>Home - Cine Família</title>

</head>
<body class="corpo">
    {% block conteudo %}
        <div class="row">
            {% for filme in filmes %}
            <div class="col-sm-2">
                <div class="card">
                    <img class="card-img-top" src="{{filme.capa.url}}">
                    <div class="card-body">
                        <h5 class="card-title">{{filme.nome}}</h5>
                        <p class="card-text">
                            ({{filme.duracao}}) Classificação: {{filme.classificacao}}<br>
                            Sinopse: {{filme.sinopse}}</p>
                        <a href="#" class="btn btn-primary">Assistir</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endblock conteudo %}

</body>
</html>