<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
<html lang="pt-br">
<head>

    <title>Login - Cine Família</title>
    <!-- Required meta tags -->
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Formatação personalizada usando CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/personalizado.css' %}">
    {% bootstrap_css %}

</head>
<header>

    <h1>Cine <span>Família</span></h1>   

    <nav>
        <ul>
            <li><a href="">Filmes em Cartaz</a></li>
            <li><a href="#">Em Breve</a></li>
            <li><a href="#">Sobre</a></li>
            <li><a href="admin">Página do Administrador</a></li>
            <li><a href="#">Login/Cadastro</a></li>
        </ul>
    </nav>

</header>
<body>
    {% bootstrap_messages %}
    
    <div class="container">
        <br>
        <h2> Login </h2>
        <br>
        <form method="post" class="form" action="{% url 'logar' %}" autocomplete="off">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    Efetuar login 
                </button>
                <button onclick="location.href = 'cadastro';" id="cadastroButton" class="btn btn-primary">
                Cadastro
                </button>
            {% endbuttons %}
        </form>
    </div>
    
    <script src="{% static 'js/personalizado.js' %}"></script>
    {% bootstrap_javascript jquery='full' %}
</body>
</html>