<!DOCTYPE html>
{% extends "base.html" %}
{% load bootstrap4 %}
<html lang="pt-br">
<head>

    <title>Criar Sessão - Cine Família</title>

</head>
<body>

    {% block conteudo %}
        <div class="container">
            <h1> Criar Sessão </h1> <br><br>
            {% bootstrap_messages %}
            <form method="post" action="{% url 'sessoes' %}" class="form" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Criar Sessão
                    </button>
                {% endbuttons %}
            </form>
        </div>
    {% endblock conteudo %}

</body>
</html>